    <!-- ******DOCS****** --> 
    <section id="articles" class="articles section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get started！</h2>            
            <div class="block">
                <h3 class="sub-title text-center">test</h3>
                <p><a href="#" target="_blank">This</a> test words.</p>
                <p>test again.</p>
                <ul>

                <ul class="list-unstyled">
                    <li><strong>1：</strong> test1</li>
                    <li><strong>2：</strong> test2</li>
                    <li><strong>3：</strong> test3</li>
                </ul>
                <!--//code-block-->
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Inroduction</h3>
                <p>test pagraphs</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://blog.chufengze.cn" target="_blank">Go to Blog</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
