    <!-- ******LICENSE****** -->
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
              <h2 class="title text-center">Skills</h2>
		<div class="container0">
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="https://www.python.org">Python</a></h3>
                        <p>Python is a programming language that lets you work quickly
                           and integrate systems more effectively.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="http://html.com">Html</a></h3>
                        <p>HyperText Markup Language (HTML) is the standard markup language for creating web pages and web applications.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="https://www.javascript.com">JavaScript</a></h3>
                        <p>JavaScript is a high-level, dynamic, untyped, and interpreted programming language.</p>
                    </div><!--//content-->   
               <!--//item-->               
                </div><!--//row--> 
                 <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="http://redis.io">Redis</a></h3>
                        <p>Redis is an open source (BSD licensed), in-memory data structure store, used as database, cache and message broker.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>
                <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="https://www.mongodb.com">MongoDB</a></h3>
                        <p>MongoDB (from humongous) is a Free and open-source cross-platform document-oriented database.</p>
                    </div><!--//content-->   
               <!--//item-->               
                </div><!--//row--> 
                 <div class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        
                    </div>
                    <div class="content">
                        <h3 class="sub-title"><a href="http://www.mysql.com">MySQL</a></h3>
                        <p>MySQL (officially pronounced as /maɪ ˌɛskjuːˈɛl/ "My S-Q-L") is an open-source relational database management system (RDBMS).</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>            
        </div>
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
